<app-header></app-header>

<div class="container mt-3">
    <h4>Noticias</h4>

    <div class="row">
        @for(n of news; track n.id){
            <div class="col-12 bgCard m-2 p-3 rounded-3  shadow-sm" style="position: relative;">
                <h5 class="fw-bold " >{{n.title}}</h5>
                <h6>{{n.datetime}}</h6>
                <p>
                    {{ isTextExpanded(n.id) ? n.body : truncateText(n.body) }}
                    @if (!isTextExpanded(n.id) && shouldShowButton(n.body)) {
                        <span>...</span>
                    }
                    @if (shouldShowButton(n.body)) {
                        <button (click)="getByID(n.id)" 
                                class="btn btn-link p-0 ms-2 text-decoration-none">
                            {{ isTextExpanded(n.id) ? 'Leer menos' : 'Leer todo' }}
                        </button>
                    }
                </p>

                <button class="btn btn-sm rounded-circle " title="Ver Noticia completa" style="position: absolute; top: 0; right: 0; background-color: #73edff;"  >
                    <i class="bi bi-eye-fill"></i>
                </button>
            </div>
        }

    </div>
</div>